/* Обнуление*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/ArialMT.eot');
	src: url('../../assets/fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/ArialMT.woff') format('woff'),
		url('../../assets/fonts/ArialMT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/Arial-ItalicMT.eot');
	src: url('../../assets/fonts/Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
	url('../../assets/fonts/Arial-ItalicMT.woff') format('woff'),
	url('../../assets/fonts/Arial-ItalicMT.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/Georgia.eot');
	src: url('../../assets/fonts/Georgia.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Georgia.woff') format('woff'),
		url('../../assets/fonts/Georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia-Italic.eot');
    src: url('../../assets/fonts/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Georgia-Italic.woff') format('woff'),
    url('../../assets/fonts/Georgia-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    }
a{
	text-decoration: none;
}
ul,
ol,
li {
	list-style-type: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-style: inherit;
}
html,
body,
button {
	scroll-behavior: smooth;
	height: 100%;
	line-height: 1;
	font-size: 15px;
	color: #545454;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
/*-----------------------------------------------------------*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/*-----------------------------------------------------------*/
._container {
	margin: 0 auto;
	/* box-sizing: content-box; */
}
@media(min-width: 1280px){
	._container {
		max-width: 1200px;
  }
}
@media(max-width: 1279.98px){
	._container {
		padding: 0px 30px;
  }
}

/* @media (min-width: 320px) {
	._container {
		padding: 0 30px;
	}
} */
@media (max-width: 767.98px) {
	._container {
		padding: 0 10px;
		max-width: 768px;
	}
}
/* ._ibg {
	position: relative;
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
} */
/*---HEADER--------------------------------------------------------*/
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	margin-top: 60px;
}
@media (max-width: 1279.98px) {
	.header {
		margin-top: 30px;
	}
}
.header__container {
	display: flex;
	min-height: 60px;
	align-items: center;
	justify-content: space-between;
	/* max-width: 1200px; */
}
@media (max-width: 767.98px) {
	.header__container {
		justify-content: space-between;
	}
}

.header__logo {
	display: flex;
	align-items: center;
	justify-content:space-between;
	flex-direction: column;
	min-width: 186px;
	min-height: 60px;
}
.logo__title {
	font-size: 32px;
	font-weight: normal;
	color: #F1CDB3;
	letter-spacing: 0.06em;
	line-height: 110%;
}
.logo__subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 13px;
	letter-spacing: 0.1em;
	color: #fff;
	line-height: 115%;
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	align-items: center;
}
.menu__item {
}
.menu__item:not(:last-child) {
	margin: 0px 36px 0px 0px;
}
@media (max-width: 767.98px) {
	.menu__list{
		display: none;
	}
}
.menu__link {
	font-family: Arial, Helvetica, sans-serif;
	color: #CDCDCD;
	line-height: 160%;
	transition: color 0.3s ease-out;
}
.menu__link:hover {
	color: #FAFAFA;
}
.link__active {
	color: #FAFAFA;
	border-bottom: 3px solid #F1CDB3;
}
/*---BURGER------------------------*/
.header__burger{
	display: none;
}
.burger__menu {
	position: relative;
	flex: 0 0 30px;
	height: 30px;
	flex-wrap: wrap;
	font-display: column;
	justify-content: space-between;
	align-items: center;
	width: 30px;
	right: 43px;
}
.burger__menu::before,
.burger__menu::after {
	content: "";
	background-color: #F1CDB3;
	height: 2px;
}
.burger__menu span {
	background-color: #F1CDB3;
	height: 2px;
	width: 30px;
}
@media (max-width: 767.98px) {
	.header__burger{
		display: flex;
	}
	.burger__menu {
		position: relative;
		flex: 0 0 30px;
		height: 30px;
		flex-wrap: wrap;
		display: flex;
		font-display: column;
		justify-content: space-between;
		align-items: center;
		width: 30px;
		right: 43px;
	}
	.burger__menu::before,
	.burger__menu::after {
		content: "";
		background-color: #F1CDB3;
		height: 2px;
	}
	.burger__menu span {
		background-color: #F1CDB3;
		height: 2px;
		width: 30px;
	}
}
/*---PAGE--------------------------------------------------------*/
.page {
	flex: 1 1 auto;
}
.page__main-block {
	background-image: url(../../assets/images/start-screen-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.page__about {
}
.page__friends {
}
/*---FOOTER--------------------------------------------------------*/
.footer{
}
.page__friends {
	background-color: #F6F6F6;
}
/*---MAIN_BLOCK--------------------------------------------------------*/
.main-block__container {
	display: flex;
	padding: 180px 0px 0px 0px;
	justify-content: space-between;
}
.main-block__body {
	padding: 163px 0px 0px 0px;
	position: relative;
	z-index: 4;
}
@media (max-width: 1279.98px) {
	.main-block__container {
		padding: 150px 0px 0px 0px;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
	}
	.main-block__body {
		padding: 0;
 	}
}
.main-block__body >*:not(:last-child) {
	margin: 0px 0px 42px 0px;
}
.main-block__title {
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.06em;
	color: #FFFFFF;
}
@media(min-width: 768px) {
	.main-block__title {
		font-size: 44px;
		color: #fff;
		line-height: 127%;
		font-weight: normal;
		max-width: 310px;
		letter-spacing: 0 ;
		text-align: left;
	}
}
.main-block__text {
	font-family: Arial;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #CDCDCD;
	max-width: 300px;
	text-align: center;
}
@media(min-width: 768px) {
	.main-block__text {
		font-family: Arial;
		font-weight: 400;
		font-size: 15px;
		line-height: 160%;
		color: #CDCDCD;
		max-width: 460px;
		text-align: left;
	}
}
.main-block__button {
	display: block;
	max-width: 208px;
	color: #292929;
	font-size: 17px;
	letter-spacing: 0.06em;
	line-height: 130%;
	padding: 15px 45px;
	min-height: 52px;
	background-color: #F1CDB3;
	border-radius: 100px;
}
@media (max-width: 1279.98px) {
	.main-block__button {
		display: block;
		text-align: center;
		/* max-width: 208px; */
		margin: 0 auto;
	}
}
.main-block__img img {
	position: relative;
	max-width: 260px;
	max-height: 272px;
	z-index: 5;
	margin-top: 100px;
}
@media(min-width: 768px) {
	.main-block__img img {
		position: relative;
		max-width: 569px;
		max-height: 593px;
		z-index: 5;
		align-self: flex-end;
	}
}
@media(min-width: 1280px) {
	.main-block__img img {
		position: relative;
		max-width: 698px;
		max-height: 728px;
		height: auto;
		z-index: 5;
		margin: 0;
	}
}
/*!---ABOUT-THE-Shelter------------------------------------*/
.about__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 46px 10px;
}
@media(min-width: 768px) {
	.about__container {
		padding: 82px 30px 100px;
	}
}
@media(min-width: 1280px) {
	.about__container {
		flex-direction: row-reverse;
		justify-content: space-evenly;
		padding: 82px 57px 100px;
	}
}
.about__body {
}
.about__title {
}
.title-block {
	font-size: 25px;
	line-height: 128%;
	letter-spacing: 0.06em;
	text-align: center;
	margin-bottom: 25px;
}
@media(min-width: 768px) {
	.title-block {
		font-size: 35px;
		line-height: 128%;
		text-align: left;
	}
}
.about__text {
	font-family: Arial;
	font-size: 15px;
	max-width: 270px;
	line-height: 160%;
	text-align: justify;
	color: #4C4C4C;
}
.first-text {
	margin-bottom: 22px;
}
@media(min-width: 768px) {
	.about__text {
		font-size: 15px;
		line-height: 160%;
		text-align: left;
		max-width: 430px;
	}
	.first-text {
		margin-bottom: 25px;
	}
}
.about__img img{
	max-width: 260px;
	max-height: 353.6px;
	margin-top: 42px;
}
@media(min-width: 768px) {
	.about__img img{
		max-width: 300px;
		max-height: 408px;
		margin-top: 80px;
	}
}
@media(min-width: 1280px) {
	.about__img img {
		margin-top: 0;
	}
}
/*!---OUR-FRIENDS----------------------------------------*/

.friends {
}
.friends__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 38px 0px;
}
.friends__title {
	margin-bottom: 42px;
	padding: ;
}
@media(min-width: 768px) {
	.friends__title {
		text-align: center;
		margin-bottom: 60px;
		padding: 40px 0px 0 0;
	}
}
@media(min-width: 1280px) {
	.friends__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.friends__card-2 {
		margin: 0 45px;
		order: 2;
	}
	.friends__card-3 {
		order: 2;
		margin: 0 45px;
	}
	.friends__card {
		order: 2;
		margin: 0 45px;
	}
	.button-next {
		margin: 0 0 0 7px;
		order: 3;
	}
	.button-prev {
		margin: 0 7px 0 0;
	}
}
@media(max-width: 767.98px) {
	.friends__title {
		text-align: center;
		margin-bottom: 40px;
		padding: 38px 0 0 0;
	}
	.friends__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px 0px;
	}
}
@media(min-width:768px) {
	.friends__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 708px;
	}
	.friends__card-2 {
		order: 2;
		display: none;
		margin-left: 16px;
	}
	.friends__card {
		order: 2;
	}
	.friends__card-1 {
		margin-right: 12px;
	}
	.button-next {
		order: 3;
	}
	.friends__card-3 {
		display: none;
	}
	.friends__title {
		text-align: center;
		margin-bottom: 60px;
		padding: 45px 0px 0 0;
	}
}
.friends__card {
	max-width: 270px;
	height: 435px;
	background-color: #FAFAFA;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 9px;
}
@media(max-width: 767.98px) {
	.friends__card-2 {
		display: none;
	}
}
@media(max-width: 767.98px) {
	.friends__body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 300px;
	}
	.friends__card-3 {
		display: none;
	}
	.friends__card {
		order: 0;
	}
}
.friends__img {
	margin-bottom: 30px;
}
.friends__name {
	font-size: 20px;
	color: #545454;
	line-height: 115%;
	letter-spacing: 0.06em;
	margin-bottom: 30px;
}
.friends__button {
	display: block;
	max-width: 192px;
	color: #292929;
	font-size: 17px;
	letter-spacing: 0.06em;
	line-height: 130%;
	padding: 13px 43px;
	max-height: 52px;
	border-radius: 100px;
	border: 2px solid #F1CDB3;
}

.button-prev:hover,
.button-next:hover {
	background-color: #FDDCC4;
   border: 1px solid #FDDCC4;
   cursor: pointer;
}
.button-prev,
.button-next {
	border-radius: 100px;
	border: 2px solid #F1CDB3;
	width: 52px;
	height: 52px;
	display: block;
	padding-top: 10px;
	background-color: #F6F6F6;
}

@media(max-width: 767.98px) {
	.button-prev,
	.button-next {
	display: inline-block;
}
}
.friends-block__button {
	background-color: #F1CDB3;
	padding: 15px 45px;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	border-radius: 100px;
}
@media(min-width: 768px) {
	.friends-block__button {
		margin: 60px 0;
	}
}
