/* Обнуление*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/ArialMT.eot');
	src: url('../../assets/fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/ArialMT.woff') format('woff'),
		url('../../assets/fonts/ArialMT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Arial';
	src: url('../../assets/fonts/Arial-ItalicMT.eot');
	src: url('../../assets/fonts/Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
	url('../../assets/fonts/Arial-ItalicMT.woff') format('woff'),
	url('../../assets/fonts/Arial-ItalicMT.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Georgia';
	src: url('../../assets/fonts/Georgia.eot');
	src: url('../../assets/fonts/Georgia.eot?#iefix') format('embedded-opentype'),
		url('../../assets/fonts/Georgia.woff') format('woff'),
		url('../../assets/fonts/Georgia.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/Georgia-Italic.eot');
    src: url('../../assets/fonts/Georgia-Italic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Georgia-Italic.woff') format('woff'),
    url('../../assets/fonts/Georgia-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    }
a{
	text-decoration: none;
}
ul,
ol,
li {
	list-style-type: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-style: inherit;
}
html,
body,
button {
	scroll-behavior: smooth;
	height: 100%;
	line-height: 1;
	font-size: 15px;
	color: #545454;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
/*-----------------------------------------------------------*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/*-----------------------------------------------------------*/
._container {
	margin: 0 auto;
	/* box-sizing: content-box; */
}
@media(min-width: 1280px){
	._container {
		max-width: 1200px;
  }
}
@media(max-width: 1279.98px){
	._container {
		padding: 0px 30px;
  }
}

/* @media (min-width: 320px) {
	._container {
		padding: 0 30px;
	}
} */
@media (max-width: 767.98px) {
	._container {
		padding: 0 10px;
		max-width: 768px;
	}
}
/* ._ibg {
	position: relative;
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
} */
/*---HEADER--------------------------------------------------------*/
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	margin-top: 60px;
}
@media (max-width: 1279.98px) {
	.header {
		margin-top: 30px;
	}
}
.header__container {
	display: flex;
	min-height: 60px;
	align-items: center;
	justify-content: space-between;
	/* max-width: 1200px; */
}
@media (max-width: 767.98px) {
	.header__container {
		justify-content: space-between;
	}
}

.header__logo {
	display: flex;
	align-items: center;
	justify-content:space-between;
	flex-direction: column;
	min-width: 186px;
	min-height: 60px;
}
.logo__title {
	font-size: 32px;
	font-weight: normal;
	color: #F1CDB3;
	letter-spacing: 0.06em;
	line-height: 110%;
}
.logo__subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 13px;
	letter-spacing: 0.1em;
	color: #fff;
	line-height: 115%;
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	align-items: center;
}
.menu__item {
}
.menu__item:not(:last-child) {
	margin: 0px 36px 0px 0px;
}
@media (max-width: 767.98px) {
	.menu__list{
		display: none;
	}
}
.menu__link {
	font-family: Arial, Helvetica, sans-serif;
	color: #CDCDCD;
	line-height: 160%;
	transition: color 0.3s ease-out;
}
.menu__link:hover {
	color: #FAFAFA;
}
.link__active {
	color: #FAFAFA;
	border-bottom: 3px solid #F1CDB3;
}
/*---BURGER------------------------*/
.header__burger{
	display: none;
}
.burger__menu {
	position: relative;
	flex: 0 0 30px;
	height: 30px;
	flex-wrap: wrap;
	font-display: column;
	justify-content: space-between;
	align-items: center;
	width: 30px;
	right: 43px;
}
.burger__menu::before,
.burger__menu::after {
	content: "";
	background-color: #F1CDB3;
	height: 2px;
}
.burger__menu span {
	background-color: #F1CDB3;
	height: 2px;
	width: 30px;
}
@media (max-width: 767.98px) {
	.header__burger{
		display: flex;
	}
	.burger__menu {
		position: relative;
		flex: 0 0 30px;
		height: 30px;
		flex-wrap: wrap;
		display: flex;
		font-display: column;
		justify-content: space-between;
		align-items: center;
		width: 30px;
		right: 43px;
	}
	.burger__menu::before,
	.burger__menu::after {
		content: "";
		background-color: #F1CDB3;
		height: 2px;
	}
	.burger__menu span {
		background-color: #F1CDB3;
		height: 2px;
		width: 30px;
	}
}
/*---PAGE--------------------------------------------------------*/
.page {
	flex: 1 1 auto;
}
.page__main-block {
	background-image: url(../../assets/images/start-screen-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.page__about {
}
.page__friends {
	background-color: #F6F6F6;
}
.page__help {
}
.page__donation {
	background-color: #F6F6F6;
}
.footer {
	background-image: url(../../assets/images/footer-background.png);
	background-size: cover;
	background-repeat: no-repeat;
}
/*---MAIN_BLOCK--------------------------------------------------------*/
.main-block__container {
	display: flex;
	padding: 180px 0px 0px 0px;
	justify-content: space-between;
}
.main-block__body {
	padding: 163px 0px 0px 0px;
	position: relative;
	z-index: 4;
}
@media (max-width: 1279.98px) {
	.main-block__container {
		padding: 150px 0px 0px 0px;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
	}
	.main-block__body {
		padding: 0;
 	}
}
.main-block__body >*:not(:last-child) {
	margin: 0px 0px 42px 0px;
}
.main-block__title {
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 130%;
	text-align: center;
	letter-spacing: 0.06em;
	color: #FFFFFF;
}
@media(min-width: 768px) {
	.main-block__title {
		font-size: 44px;
		color: #fff;
		line-height: 127%;
		font-weight: normal;
		max-width: 310px;
		letter-spacing: 0 ;
		text-align: left;
	}
}
.main-block__text {
	font-family: Arial;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #CDCDCD;
	max-width: 300px;
	text-align: center;
}
@media(min-width: 768px) {
	.main-block__text {
		font-family: Arial;
		font-weight: 400;
		font-size: 15px;
		line-height: 160%;
		color: #CDCDCD;
		max-width: 460px;
		text-align: left;
	}
}
.main-block__button {
	display: block;
	max-width: 208px;
	color: #292929;
	font-size: 17px;
	letter-spacing: 0.06em;
	line-height: 130%;
	padding: 13px 45px;
	max-height: 52px;
	background-color: #F1CDB3;
	border-radius: 100px;
	transition: background-color 0.3s ease-out;
}
.main-block__button:hover{
	cursor: pointer;
	background-color: #FDDCC4;
}
@media (max-width: 1279.98px) {
	.main-block__button {
		display: block;
		text-align: center;
		max-width: 208px;
		height: 52px;
		margin: 0 auto;
	}
}
.main-block__img img {
	position: relative;
	max-width: 260px;
	max-height: 272px;
	z-index: 5;
	margin-top: 100px;
	margin-left: 40px;
}
@media(min-width: 768px) {
	.main-block__img img {
		position: relative;
		max-width: 569px;
		max-height: 593px;
		z-index: 5;
		align-self: flex-end;
		margin-left: 140px;
	}
}
@media(min-width: 1280px) {
	.main-block__img img {
		position: relative;
		max-width: 698px;
		max-height: 728px;
		height: auto;
		z-index: 5;
		margin: 0;
	}
}
/*!---ABOUT-THE-Shelter------------------------------------*/
.about__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 46px 10px;
}
@media(min-width: 768px) {
	.about__container {
		padding: 82px 30px 100px;
	}
}
@media(min-width: 1280px) {
	.about__container {
		flex-direction: row-reverse;
		justify-content: space-evenly;
		padding: 82px 57px 100px;
	}
}
.about__body {
}
.about__title {
}
.title-block {
	font-size: 25px;
	line-height: 128%;
	letter-spacing: 0.06em;
	text-align: center;
	margin-bottom: 25px;
}
@media(min-width: 768px) {
	.title-block {
		font-size: 35px;
		line-height: 128%;
		text-align: left;
	}
}
.about__text {
	font-family: Arial;
	font-size: 15px;
	max-width: 270px;
	line-height: 160%;
	text-align: justify;
	color: #4C4C4C;
}
.first-text {
	margin-bottom: 22px;
}
@media(min-width: 768px) {
	.about__text {
		font-size: 15px;
		line-height: 160%;
		text-align: left;
		max-width: 430px;
	}
	.first-text {
		margin-bottom: 25px;
	}
}
.about__img img{
	max-width: 260px;
	max-height: 353.6px;
	margin-top: 42px;
}
@media(min-width: 768px) {
	.about__img img{
		max-width: 300px;
		max-height: 408px;
		margin-top: 80px;
	}
}
@media(min-width: 1280px) {
	.about__img img {
		margin-top: 0;
	}
}
/*---OUR-FRIENDS----------------------------------------*/
.friends {
}
.friends__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 38px 0px;
}
.friends__title {
	margin-bottom: 42px;
}
@media(min-width: 768px) {
	.friends__title {
		text-align: center;
		margin-bottom: 60px;
		padding: 40px 0px 0 0;
	}
}
@media(min-width: 1280px) {
	.friends__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.friends__card-2 {
		margin: 0 45px;
		order: 2;
	}
	#friends__card-3 {
		order: 2;
		margin: 0 45px;
	}
	.friends__card {
		order: 2;
		margin: 0 45px;
	}
	.button-next {
		margin: 0 0 0 7px;
		order: 3;
	}
	.button-prev {
		margin: 0 7px 0 0;
	}
}
@media(max-width: 767.98px) {
	.friends__title {
		text-align: center;
		margin-bottom: 40px;
		padding: 38px 0 0 0;
	}
	.friends__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px 0px;
	}
}
@media(max-width: 1279.98px) {
	.friends__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 708px;
	}
	.friends__card-2 {
		order: 2;
		display: none;
		margin-left: 16px;
	}
	.friends__card {
		order: 2;
	}
	.friends__card-1 {
		margin-right: 12px;
	}
	.button-next {
		order: 3;
	}
	#friends__card-3 {
		display: none;
	}
	.friends__title {
		text-align: center;
		margin-bottom: 60px;
		padding: 42px 0px 0 0;
	}
}
.friends__card {
	max-width: 270px;
	height: 435px;
	background-color: #FAFAFA;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 9px;
	transition: background-color 0.3s ease-out;
}
.friends__card:hover {
	cursor: pointer;
	background-color: #fff;
}
.friends__card:hover .friends__button {
	cursor: pointer;
	background-color: #FDDCC4;
	border: 2px solid #FDDCC4;
}
@media(max-width: 767.98px) {
	.friends__body {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		width: 300px;
	}
	.friends__card {
		order: 0;
		margin: 0 0 20px 0;
	}
	.friends__card-2 {
		display: none;
	}
	.friends__title {
		text-align: center;
		margin-bottom: 40px;
		padding: 40px 0px 0 0;
	}
}
.friends__img {
	margin-bottom: 30px;
}
.friends__name {
	font-size: 20px;
	color: #545454;
	line-height: 115%;
	letter-spacing: 0.06em;
	margin-bottom: 30px;
}
.friends__button {
	display: block;
	max-width: 192px;
	color: #292929;
	font-size: 17px;
	letter-spacing: 0.06em;
	line-height: 130%;
	padding: 13px 43px;
	max-height: 52px;
	border-radius: 100px;
	border: 2px solid #F1CDB3;
	transition: background-color 0.3s ease-out;
}

.button-prev:hover,
.button-next:hover {
	background-color: #FDDCC4;
   border: 1px solid #FDDCC4;
   cursor: pointer;
}
.button-prev,
.button-next {
	border-radius: 100px;
	border: 2px solid #F1CDB3;
	width: 52px;
	height: 52px;
	display: block;
	padding-top: 10px;
	background-color: #F6F6F6;
	transition: background-color 0.3s ease-out;
}

@media(max-width: 767.98px) {
	.button-prev,
	.button-next {
	display: inline-block;
	margin: 0 40px;
}
}
.friends-block__button {
	background-color: #F1CDB3;
	padding: 15px 45px;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	border-radius: 100px;
	transition: background-color 0.3s ease-out;
}
.friends-block__button a {
	color: #292929;
}
.friends-block__button:hover{
	cursor: pointer;
	background-color: #FDDCC4;
}
@media(min-width: 768px) {
	.friends-block__button {
		margin: 60px 0;
	}
}
@media(max-width: 767.98px) {
	.friends-block__button {
		margin: 42px 0;
	}
}
/*----HELP-------------------------*/
.help {
}
.help__container {
	padding-bottom: 42px;
}
.help__title {
	padding: 42px 0 18px 0;
	text-align: center;
}
.title-block {
}
.help__body {
	box-sizing: border-box;
	margin-top: 42px;
	display: flex;
	width: 290px;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
	margin: 0 auto;
}
.help__card {
	width: 130px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.help__card img{
	margin-bottom: 20px;
	max-width: 50px;
	max-height: 50px;
}
.card__title {
	font-size: 15px;
	line-height: 110%;
	text-align: center;
	letter-spacing: 0.06em;
}
@media(min-width: 768px) {
	.help__body {
		width: 630px;
		gap: 56px;
		margin: 0 auto;
		justify-content: space-between;
		padding: 0 0 58px 0;
	}
	.help__card img{
		margin-bottom: 20px;
		max-width: 60px;
		max-height: 60px;
	}
	.help__card {
		width: 170px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.help__title {
		padding: 84px 0 34px 0;
		text-align: center;
	}
	.help__card img{
		margin-bottom: 30px;
	}
	.card__title {
		font-size: 20px;
		line-height: 115%;
		text-align: center;
		letter-spacing: 0.06em;
	}
}
@media(min-width: 1280px) {
	.help__body {
		width: 1111px;
		column-gap: 61px;
		row-gap: 55px;
		margin: 0 auto;
		justify-content: flex-start;
		padding: 0 0 100px 0;
	}
	.help__card {
		width: 170px;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}
	.help__title {
		padding: 84px 0 34px 0;
		text-align: center;
	}
	.help__card img{
		margin-bottom: 30px;
	}
	.card__title {
		font-size: 20px;
		line-height: 115%;
		text-align: center;
		letter-spacing: 0.06em;
	}
	.bowls-card {
		margin-left: -7px;
	}
	.shampoo-card {
		margin-left: 17px;
	}
	.vitamins-card {
		margin-left: 86px;
	}
	.medicines-card {
		margin-left: -15px;
	}
	.collars-card {
		margin-left: 22px;
	}
	.sleeping-card {
		margin-left: 43px;
	}
}
/*---DONATION------------------------------------*/

.donation {
}
.donation__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 44px 0px;
}
.donation__content {
	display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 300px;
}
.donation__content > *:not(last:last-child) {
	margin-bottom: 20px;
}
.donation__title {
	text-align: center;
	margin-bottom: 20px;
}
.donation__subtitle {
	text-align: center;
	font-size: 15px;
	line-height: 160%;
	color: #545454;
	margin-bottom: 20px;
}
.donation__account {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 281px;
   height: 42px;
   background-color: #f1cdb3;
   border-radius: 9px;
	transition: background-color 0.3s ease-out;
}
.donation__account:hover {
	background-color: #FDDCC4;
}
.donation__account img {
	width: 30px;
	margin-right: 15px;
}
.card-num {
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: #545454;
}
.donation__text {
	font-family: Arial;
	font-style: italic;
	text-align: justify;
	color: #B2B2B2;
	font-size: 12px;
	line-height: 150%;
	max-width: 280px;
}
.donation__img {
	margin-top: 20px;
}
.donation__img img{
	max-width: 260px;
	max-height: 135.2px;
}
@media (min-width: 768px) {
	.donation__container {
		max-width: 380px;
		padding: 80px 0 100px;
	}
	.donation__content {
		align-items: flex-start;
		max-width: 380px;
	}
	.donation__title {
		text-align: left;
	}
	.title-block {
	}
	.donation__subtitle {
		text-align: left;
		letter-spacing: 0.06em;
		line-height: 110%;
	}
	.donation__account {
		width: 349px;
	}
	.card-num {
		font-size: 20px;
		line-height: 115%;
	}
	.donation__text {
		text-align: left;
		max-width: 380px;
	}
	.donation__img {
		margin-top: 40px;
	}
	.donation__img img{
		max-width: 505px;
		max-height: 261px;
	}
}
@media (min-width: 1280px) {
	.donation__container {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 38px 0 80px;
	}
	.donation__content {
		order: 1;
		margin-left: 30px;
	}
	.donation__img {
		margin: 0;
	}
	.donation__img img {
		margin-left: -30px;
		margin-bottom: 16px;
	}
}
/*!---FOOTER------------------------------------------*/
.footer{
	padding-top: 30px;
}
.footer__container {
	min-width: 300px;
	margin: 0 auto;
}
.footer__wrapper {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 39px;
}
.footer__contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.contacts__title {
	color: #fff;
	margin-bottom: 45px;
}
.footer__section a{
	color: #F1CDB3;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
}
.contacts__mail, .contacts__tel{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.contacts__mail {
	width: 251px;
	margin-bottom: 43px;
}
.contacts__tel {
	width: 239px;
}
.footer__location {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.location__title {
	max-width: 260px;
	color: #fff;
	margin-bottom: 40px;
}
.location-1, .location-2 {
	display: flex;
	justify-content: flex-start;
	width: 300px;
	align-items: center;
}
.location-1 {
	margin-bottom: 40px;
}
.location-2 {
}
.location__link {
	margin-left: 19px;
	text-align: left;
}
.footer__img img{
	max-width: 260px;
	max-height: 269px;
}
@media (min-width:768px) {
	.footer{
		padding-top: 30px;
	}
	.footer__container {
		min-width: 768px;
	}
	.footer__wrapper {
		min-width: 708px;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		margin: 0 auto;
	}
	.footer__contacts {
		width: 300px;
		align-items: flex-start;
	}
	.contacts__title {
		color: #fff;
		margin-bottom: 55px;
		text-align: left;
	}
	.contacts__mail {
		margin-top: -11px;
		margin-bottom: 42px;
  }
	.footer__location {
		width: 300px;
		text-align: left;
	}
	.location__title {
		text-align: left;
		font-size: 35px;
		max-width: 310px;
		margin-bottom: 33px;
	}
	.location-1 {
		margin-bottom: 33px;
  }
	.footer__img img{
		max-width: 300px;
		max-height: 310px;
		margin-top: 28px;
	}
}
@media (min-width: 1280px) {
	.footer{
		padding-top: 9px;
	}
	.footer__wrapper {
		justify-content: space-between;
		margin: 0;
	}
	.footer__location {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		width: 320px;
		height: 234px;
		margin: 0 0 0 20px;
	}
	.footer__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		width: 279px;
		height: 234px;
		margin: 0;
	}
	.contacts__title {
		margin: 0;

	}
	.contacts__mail {
		margin: 0;
  }
	.location__title {
		margin: 0;
	}
	.location-1 {
		margin: 0;
  }
	.footer__img img{
		width: 300px;
		height: 310px;
	}
}